PORT=3001
DATABASE_URL="postgresql://neondb_owner:npg_1Fpr9sfIAkJu@ep-late-truth-an0ze8e4-pooler.c-6.us-east-1.aws.neon.tech/Hotel?sslmode=require&channel_binding=require"
JWT_SECRET="d51944e1-277e-404d-b4b6-b6d2327ef39e"
JWT_REFRESH_SECRET="37d50c5b-085b-4042-aa3b-547609e3ee08"
JWT_EXPIRES_IN=900
RESET_PASSWORD="Password@123"
